body {
    background-image: url("https://lh3.googleusercontent.com/proxy/iwg6nPLUyuxOYA0KVEY8a39nk35UynGMfgn_PN0qYjCehVuftalDAZOPDBj5fJAwSY-421aZAbNutOscrMUlrNUl_Ac7DrTyjOiHN6SrWVEAwGcDZRR3xzlCLEU_TxGYa94XxDhPk35OO5crhW1JOSBB6YCwpe2v_h9a0qvyGe42v_R7cqNvAaTfF5X--7QMl_rRboijHMG0FQnO5d8kzrXEzk2KQoJ-DeycfQ");
    background-color: #cccccc;
   }

   .card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}